body {
    background-color: rgb(228, 232, 240);
}
.card {
    max-width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    padding: 10px 40px 40px 40px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card > h1 {
    text-align: center;
}
p{
    font-size: 20px;
}
.form-control {
    height: 50px !important;
    font-size: 16px !important;
}
.form-control::placeholder {
    font-size: 18px;
}
.form-floating {
    margin-top: 25px !important;
}
.form-floating > label {
    font-size: 16px;
}
.form-select {
    padding-top: 15px !important;
    padding-left: 8px!important;
    font-weight: normal !important;
    height: 50px !important; 
    font-size: 1.5rem !important;
}
.label_select {
    font-size: 14px !important;
    top: 27px;
    left: 9px;
    position: relative;
    color: #7a7a7a;
}
.form-step {
    display: block;
    transform-origin: top;
    animation: animate 0.5s;
}

#descricao {
    resize: none;
    height: 100px !important;

}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
#cadastrar {
    border: none;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    height: 40px;
    background-color: #1f84d6;
    color: white;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.5s;
}
#cadastrar:hover {
    opacity: 1;
}

.btn_modal {
    margin-top: 25px;
    border: none; 
    background-color: #1f84d6; 
    color: white; 
    padding: 15px 17px; 
    border-radius: 0 5px 5px 0;
}