@media (max-width: 800px) { 
    h1 { font-size:26px !important; }
    .texto { font-size: 15px !important; }
    i { font-size: 15px !important; }
}


.cad_texto {
    color: black;
    font-size: 30px;
}

.botao_exame{
    background-color: #1f84d6;    
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    width: 60%;
    outline: none;
    border-style:solid;
    border-radius: 5px;
    border-color: black;
    border-width: 0px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.botao_exame:hover{
    cursor: pointer;
    /* box-shadow: 1px 5px 5px rgba(0,0,0,0.80); */
    transform: scale(1.05);
    background-color: #1a68a7;
}

.botao_cadastrar {
    background-color: #1f84d6;    
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    width: 100%;
    outline: none;
    border-style:solid;
    border-radius: 5px;
    border-color: #1f84d6;
    border-width: 0px;
    cursor: pointer;
}

.strong{
    margin-top: 6px;
}

/* i{
    pointer-events: none !important;
} */