@media (max-width: 700px) { 
    h1 { font-size:26px !important; }
    .texto { font-size: 15px !important; }
    i { font-size: 15px !important; }
}

body {
    margin-top: 10%;
    background-color: rgb(228, 232, 240);      
}
#cardbox > h1 {
    margin: 20px auto;
}

td{
    border: none!important;
}

.movimentacao{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50rem;
}